<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Game Finder</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: url('https://www.walldevil.com/wallpapers/a12/waterfall-wallpaper-amazing-wallpaperswide-background-fullscreen-desktop-high-definition.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;">

    <div class="brand">LE CHERCHEUR DE JEUX</div>
    <div class="address-bar">Find games with this simple app! | Pre-Alpha Version</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">LE CHERCHEUR DE JEUX</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="https://www.elitedangerous.com/_media/og-image.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://wallpapersdsc.net/wp-content/uploads/2015/09/75-fallout-4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="https://i.ytimg.com/vi/hDLbs5UlUo8/maxresdefault.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Game Finder</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Lufrandinel</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                      <strong>Find games you want to play</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="https://pbs.twimg.com/profile_images/816215321967214592/8he4-b7U.jpg" alt="">
                    <hr class="visible-xs">
                    <p>This website was made to help any gamer find games that they want to play. No longer do you need to scour Steam to find an Ok-looking game, nor do you need to visit Gamestop to see what games are worth buying. This website helps eliminate that crucial step in playing videogames, helping you use your time efficiently.</p>
                    <p>Currently we have only a small quiz-type search questionaire, and only 6 games to offer, but we hope to increase that number in the near fututre.</p>
                    <p>The app was created by Lufrandinel and the template was found on Start Bootsrtap.</p>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Lufrandinel</strong>
                    </h2>
                    <hr>
                    <p>Hello! We are Lufrandinel!</p>
                    <p>We are students in Ms.Want's Computer Science class. The website name is French because it sounded cool, not because we know French.</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="box">
            <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">
                <strong>Test Version</strong>
                <hr>
                <p>This is the test verion of the app.</p>  
                <p>
                <form method="POST" action="/results">
                <input type="radio" name="mode" value="singleplayer"> Singleplayer <br>
                <input type="radio" name="mode" value="multiplayer"> Multiplayer <br>    
                <input type="submit">  
                </form>
                </p>
              </h2>
            </div>
          </div>
          </div>
    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Le Chercheur de Jeux 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
